/**
 * @name Dark Matter
 * @author nxyo#9445, Tropical#8908, Hammock#3110
 * @version 3.0.0
 * @description A hot, dark & boiling theme.
 * @source https://github.com/nxyoo/DarkMatter
*/

@import url('https://raw.githubusercontent.com/nxyoo/DarkMatter/main/src/base.css');

/* Variables */
:root {
    --avatar-size: 32px;
    --background-image: url('https://i.imgur.com/tACdnNL.png');
    --home-image: url('https://i.imgur.com/233d55Y.gif');
    --background-solid: #211616;
    --background-solid-dark: #181010;
    --background-solid-darker: #120c0c;
    --accent: 232, 37, 37;
    --accent-alt: 134, 29, 29;
}
